<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Days Until New Year</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/js/snowstorm.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script>
        snowStorm.autoStart = true;
        snowStorm.flakesMax = 128;
        snowStorm.flakesMaxActive = 64;
        snowStorm.followMouse = true;
        snowStorm.useTwinkleEffect = true;
        snowStorm.snowColor = '#fff';
    </script>
</head>
<body>
    <h1>Сколько дней осталось до Нового года?</h1>
    <h2>{{ days }} дней</h2>
</body>
</html>
